*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   width: 100vw;
   height: 100vh;
    background-color: #BBC6EC;
   background-image: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
   border: 2px solid brown;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box{
    width: 300px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px;
    padding: 10px;
}
.box img{
    width: 300px;
    height: 350px;
    
}

h2{
    font-family: 'Gill Sans';
    font-size: 23px;
}

p{
    font-weight: bold;
    font-family: 'Lucida Sans';
    font-size: 13px;
}