*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container{
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    background-color: rgb(199, 213, 209);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 350px;
    height: 580px;
    border: 2px solid brown;
    background-color: rgb(250, 248, 247);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.box img{
    width: 100%;
    height:30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.textBox{
    width: 80%;
    margin: 10px;
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.price{
    width:80%;
    height: 50px;
    border: 2px solid black;
    background-color: rgb(156, 231, 241);
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 1px 1px 15px rgb(92, 194, 216);
}

.leftBox{
    width: fit-content;
    display: flex;
    gap: 10px;
}
.leftBox img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#pay{
    width: 80%;
    height: 10%;
    background-color: rgb(26, 26, 81);
    color: azure;
    border-radius: 10px;
    box-shadow: 3px 3px 12px rgb(22, 22, 58);
}

.cancle a{
    text-decoration: none;
    color: rgb(78, 111, 111);
    font-weight: bold;
    font-size: 17px;
}