*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    width:100%;
    height: 100%;
    background-color: rgb(96, 92, 92);
    border: 2px solid rgb(15, 3, 3);
    display: grid;
    gap: 0.4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 4rem;
    /* justify-items: stretch; */
    /* align-items: center; */
    place-items: center;
}

.item{
    height: 100px;
    width: 100px;
    background-color: rgb(51, 134, 134);
    border: 2px solid wheat;
    /* justify-self: end; */
    /* align-self: center; */

    /* place-self: stretch; */
}