.box{
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    transition: all 4s linear 1s;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    /* transform: rotate(45deg); */

    /* transform: scale(0.5); */

    /* transform: rotate(-50deg); */

    /* transform: skew(45deg); */

    /* transform: translate(500px, 200px); */
    /* transform: matrix(1,2,3,4,5,6); */
    
}

p{
    font-size: 38px;
}